<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Stock List</title>
</head>
<body>
    <div>
        <div>
            <div>
                <h3>Stock List</h3>
            </div>
            <div th:if="${not #lists.isEmpty(stocks)}">
                <div>
                    <table>
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Current Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="stock : ${stocks}">
                            <td th:text="${stock.id}"></td>
                            <td th:text="${{stock.name}}"></td>
                            <td th:text="${stock.currentPrice}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>